@include media-breakpoint-down(xl) {
  .logo {
    &__img {
      width: 250px;
      height: 50px;
    }
  }
  .header {
    &__navbar-item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  .hero {
    &__title {
      font-size: 40px;
      line-height: 50px;
      span {
        font-size: 50px;
        line-height: 60px;
      }
    }
    &__item {
      max-width: 60%;
      padding: 10px 30px;
      text-align: center;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .navbar-toggler {
    margin-left: auto;
  }
  .header {
    &__navbar-item {
      margin-bottom: 15px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    &__navbar-callback {
      display: block;
    }
  }
  .hero {
    &__title {
      text-align: center;
    }
    &__descr {
      text-align: center;
    }
    &__item {
      max-width: auto;
      text-align: left;
      &:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
  }
  .statistic {
    &__wrapper {
      padding: 40px 0;
    }
    &__title {
      text-align: center;
      margin-left: 0;
    }
    &__item {
      margin-bottom: 15px;
      &:not(:last-child) {
        &:after {
          display: none;
        }
      }
    }
  }
  .services {
    &__wrapper {
      padding: 50px 0;
    }
  }
  .services {
    &__title {
      text-align: center;
    }
  }
  .consult {
    padding-bottom: 50px;
    &__title {
      text-align: center;
    }
  }
  .portfolio {
    padding-bottom: 50px;
    &__title {
      text-align: center;
    }
  }
  .footer {
    &__top {
      padding: 25px 0 50px;
    }
    &__policy {
      max-width: none;
      text-decoration: none;
      border-bottom: 1px solid var(--color-main);
    }
  }
}
@include media-breakpoint-down(md) {
  .section-title {
    font-size: 33px;
    line-height: 40px;
  }
  .btn {
    &--big {
      padding: 10px 30px;
    }
    &--standart {
      padding: 10px 40px;
    }
  }
  .hero {
    padding: 50px 0;
    &__title {
      font-size: 40px;
      line-height: 50px;
      span {
        font-size: 50px;
        line-height: 60px;
      }
    }
    &__item {
      max-width: 100%;
      text-align: center;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
  .statistic {
    &__wrapper {
      width: 75%;
      padding: 30px 0;
      margin: 0 auto;
    }
  }
  .service {
    &__card {
      width: 75%;
      margin: 0 auto;
    }
  }
  .consult {
    &__descr {
      text-align: center;
    }
    &__line {
      margin-bottom: 0;
    }
    &__input {
      width: 100%;
      margin-bottom: 15px;
    }
    &__btn {
      width: 100%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .section-title {
    font-size: 28px;
    line-height: 35px;
  }
  .logo {
    &__img {
      width: 200px;
      height: 40px;
    }
  }
  .hero {
    padding: 25px 0;
    &__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
      span {
        font-size: 30px;
        line-height: 40px;
      }
    }
    &__descr {
      margin-bottom: 20px;
    }
    &__item {
      font-size: 14px;
      line-height: 20px;
      padding: 5px 20px;
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }
  .statistic {
    &__title {
      margin-bottom: 15px;
    }
    &__wrapper {
      width: 100%;
      padding: 30px 0 15px;
    }
    &__num {
      font-size: 30px;
      line-height: 40px;
      span {
        font-size: 25px;
      }
    }
  }
  .services {
    &__title {
      margin-bottom: 15px;
    }
  }
  .service {
    min-height: 375px;
    &__card {
      min-height: 300px;
    }
    &__top {
      min-height: 40px;
    }
    &__list {
      padding-top: 10px;
    }
    &__footer {
      span {
        font-size: 24px;
      }
    }
  }
  .consult {
    &__title {
      margin-bottom: 15px;
    }
    &__descr {
      margin-bottom: 15px;
    }
  }
  .portfolio {
    &__title {
      margin-bottom: 15px;
    }
  }
  .our-work {
    &__top {
      padding: 10px 25px;
    }
    &__img {
      margin: 0 auto 4px;
    }
    &__body {
      text-align: center;
      padding: 20px 25px;
    }
    &__title {
      text-align: center;
      margin: 0 auto 15px;
    }
    &__text {
      text-align: center;
    }
    &__item {
      margin-bottom: 15px;
    }
    &__footer {
      text-align: center;
      padding: 20px 25px;
    }
    &__system {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
  .footer {
    &__logo {
      margin-bottom: 15px;
    }
    &__policy {
      margin-bottom: 15px;
    }
  }
}
