:root {
  // colors
  --color-light: #fff;
  --color-accent: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  // other options:
  // linear-gradient(115.11deg, #9021ac 16.38%, #c8459f 84.56%);
  // linear-gradient(115.11deg, #ffbc2a 16.38%, #ff4f39 95.45%);
  --color-bg: #f7f6ff;
  --color-main: #333333;
  --color-black: #000;
  --color-gray: rgb(143, 143, 143);
  --color-downy: #77b2d3;
  --color-selago: #f3f1fe;

  // shadow
  --main-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}
