.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--color-light);
  &__navbar-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-main);
    padding: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
