.portfolio {
  padding-bottom: 90px;
  &__title {
    margin-bottom: 40px;
  }
  &__carousel {
    position: relative;
    column-gap: 78px;
    flex-wrap: wrap;
    row-gap: 0px;
  }
  &__carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  &__carousel-prev {
    left: -5%;
  }
  &__carousel-next {
    right: -5%;
  }

  .slick-list {
    margin: 0px -15px;
  }
  .slick-slide {
    margin: 0 15px;
  }
}
